ul {
  list-style-type: none;
  margin: 0;
  padding: 20;
  overflow: hidden;
  font-family: 'Courier New', monospace;
  text-align: left;
  background-color: rgba(41.2, 41.2, 41.2, 0.6);
  font-size: 25px;
  color: #696969;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

p {
  display: block;
  overflow: hidden;
}
