body { 
 font-family: 'Courier New', monospace;
 color: #FFFFF0;
 background-image: url("https://cdn.discordapp.com/attachments/870836743153287178/907488354780741682/If_You_See_This_Filename_Then_I_Hope_You_Have_A_Good_Day.gif");
 background-color: 24133F;
 background-size: cover;
 background-repeat: no-repeat;
  background-attachment: fixed;
}
